header{
  background: url(../assets/backgrounds/h_img.jpg);
  width: 100;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 30vh;
}

#mouse{
  margin-top: 170px;
}
p{
  font-size: 17px;
  font-weight: 400;
}
.about{
text-align: center;
padding: 35px;
}
.services{
  background: url(../assets/backgrounds/s_image.jpg);
  background-position: top;
  background-size: cover;
  width: 100;
  height:50vh;
  text-align: center;
  padding: 10vh;
  color: white;
}
.what-we-do{
  padding:40px;
}
.row{
  margin-top: 35px;
}

.col-md-3{

}
.contact-form{
  background: url(../assets/backgrounds/c_image.jpg);
  background-position: center;
  background-size: cover;
  padding:15vh;
  color: white;
}
h4{
  margin-top: 40px;
}
.form{
  background: transparent;
  color: white;
  border: 1px solid white;
  margin-top: 20px;
  
}
input{
  width: 35%;
  margin-right: 30px;
}
.message{
  background: transparent;
  margin-top: 30px;

}
footer{
  padding: 35px;
}
footer h6{
  margin-top: 20px;
  font-size: 12px;
}
.text-showing{
  display: none;
}